p, span, a, h1, h2, h3, h4, h5, h6, button, input, label, select, textarea {
  font-family: 'Orbitron', sans-serif;
}

input, select, textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px;
}